.header{
    border-bottom:2px solid black;
}
.carousel-inner .carousel-item{
    height: 15vh;
}
.carousel-inner .carousel-item>img{
    position: relative;
    overflow: hidden;
    bottom:40%;
}

.header div.container{
    justify-content: center;
}

.header div.container ul{
    text-align: center;
    line-height: 40px;

}
.header div.container ul>li>a{
    color:white;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
}


@media only screen and (max-width: 625px){
    .carousel{
        display: none;
    }
    .navigation{
        display: none;
    }
}
@media only screen and (min-width: 625px){
    .navbar{
        display: none;
    }
}